<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <servlet>
    <servlet-name>singledata</servlet-name>
    <servlet-class>com.terracotta.demopalooza.view.SingleDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>singledata</servlet-name>
    <url-pattern>/singledata</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>multidata</servlet-name>
    <servlet-class>com.terracotta.demopalooza.view.MultipleDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>multidata</servlet-name>
    <url-pattern>/multidata</url-pattern>
  </servlet-mapping>

</web-app>